body {
    font-family: 'Arial';
    background: #ffffff;
    margin: 0;
}

/* Menú */
.menu {
    background: #1a1a1a;
    padding: 15px;
}
.menu nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.menu nav a:hover {
    color: gold;
}

/* Títulos */
.titulo, .subtitulo {
    text-align: center;
    color: #800000;
    margin-top: 30px;
}

/* Formulario */
.formulario-container {
    width: 40%;
    margin: auto;
    background: #fff;
    padding: 25px;
    border: 2px solid gold;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Botones */
.btn {
    background: #800000;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
}

.btn:hover {
    background: gold;
    color: black;
}

.limpiar {
    background: black;
}

.acciones {
    text-align: center;
    margin-top: 20px;
}

.acciones input {
    padding: 8px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Tarjetas */
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: 85%;
}

.card {
    width: 250px;
    background: #fff;
    border: 2px solid gold;
    border-radius: 12px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 10px #ccc;
}

.card h3 {
    color: #800000;
}

.card button {
    margin-top: 10px;
}
